# Ignore specific folders (recursively)
Cloned_C1/
AlloyDesign/CALPHAD_Analysis/
AlloyDesign/Miscellaneous/
Formal_Report/
Literature_Review/
Materials_Manufacturing_Project/
AI_Configs/
Manim_Attempt/
Course_Revision/

# Ignore specific Jupyter Notebook files
Alloy_Design/Alloy Design Proposal.pdf
Alloy_Design/COSHH AD Weigh Out.doc
Alloy_Design/COSHH AD Weigh Out.pdf
Alloy_Design/RA:COSHH Form Template.doc