# Ignore specific folders (recursively)
Cloned_C1/
AlloyDesign/CALPHAD_Analysis/
AlloyDesign/Miscellaneous/
dl-poly/
MD_runs/
MD_template/
Formal_Report/
Literature_Review/

# Ignore specific Jupyter Notebook files
TheoryConfig.ipynb
AlloyDesignConfig.ipynb
LiteratureReviewConfig.ipynb
Alloy_Design/Alloy Design Proposal.pdf
Alloy_Design/COSHH AD Weigh Out.doc
Alloy_Design/COSHH AD Weigh Out.pdf
Alloy_Design/RA:COSHH Form Template.doc